body {
    font-family: 'Roboto Condensed', sans-serif;
}

.ATlist-menu ul {
    display: table;
    border-collapse: collapse;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.ATlist-menu li {
    display: table-cell;
    width: 1%;
    vertical-align: middle;
    text-align: center;
}

.ATlist-menu a {
    display: block;
    padding: 15px 10px;
    color: #000;
    font-size: larger;
    text-decoration: none;
    transition: background 0.3s;
    background: none center top repeat-x;
    text-transform: uppercase;
}

.ATlist-menu a.active {
    background: url(../images/border.png) center bottom no-repeat;
    font-weight: bold;
}

.nav-main ul {
    display: table;
    border-collapse: collapse;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-main li {
    display: table-cell;
    background: #efefef;
    vertical-align: middle;
    text-align: center;
    border-top: none;
    border-bottom: none;
}

.nav-main a {
    display: block;
    padding: 10px 4px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-main a:hover,
.nav-main a:focus {
    outline: none;
    color: #000;
    background: #e4e4e4;
}

.nav-main.active li:hover {
    cursor: pointer;
}

.nav-main.active li:hover,
.nav-main.active li.focus {
    background: #e4e4e4;
}

.ATmenuitem {
    height: 100%;
}

.ATSlider {
    background: #efefef;
}

.ATServices {
    margin: 28px 15px;
    border: 1px solid #373737;
    padding: 25px 25px 20px 30px;
    text-align: center;
}

.ATServices img {
    max-height: 50px;
    width: auto;
}

.ATViewMore {
    border: 1px solid #4e4e4e;
    padding: 14px 34px;
    font-size: large;
    color: #4e4e4e;
    margin: 0px;
    text-transform: uppercase;
    transition: background-color 0.3s;
    transition: color 0.3s;
}

.ATViewMore:hover {
    font-size: large;
    color: #ffffff;
    background-color: rgba(79, 79, 79, 0.7);
    text-decoration: none;
    border: 1px solid #4e4e4e;
}

.ATStore {
    background-image: url(../images/img_11.gif);
    background-position-y: center;
}

#main-menu {
    background: #efefef;
}

.ATBtnHT {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: none;
    border: 2px solid #FFF;
    padding: 13px 31px;
    font-size: larger;
    text-transform: uppercase;
}

.ATBtnHT:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid #FFF;
}

.ATBtnHT:focus,
.ATBtnHT:active {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #FFF;
}

.ATBtnHT:active:hover,
.ATBtnHT:active:focus {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #FFF;
}
hr {
    border-top: 1px solid #cccccc;
}
.text-red {
    color: red;
}

.ATPhone {
    max-width: 45px;
    margin: 7px 14px 0 0;
}

.btn-subscribe {
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
}

.btn-subscribe:hover {
    background-color: #656565;
}

hr.withicon {
    border-top: solid #4e4e4e 1px;
    margin: 15px 0;
}

hr.withicon:after {
    content: url('../images/symbol_10.png');
    left: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    padding: 0 20px;
    background: #fff
}

hr.smallicon {
    border-top: solid #4e4e4e 1px;
    margin: 20px 0px 5px 0px;
}

hr.smallicon:after {
    content: url('../images/small-hr.png');
    left: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    padding: 0 20px;
    background: #fff
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: larger;
}

.btn-slide {
    border: 1px solid #a2a2a2;
    height: 45px;
    margin: 0 5px;
    padding: 0 10px;
    text-transform: uppercase;
}

@media (min-width:992px) {
    .btn-slide {
        border: 1px solid #a2a2a2;
        height: 45px;
        margin: 0 5px;
        padding: 0 10px;
        text-transform: uppercase;
    }
}

.text-price {
    color: #cb1111;
}

.ATProduct:hover {
    border: 1px solid #333;
    transition: border 0.5s;
}
@media (max-width: 992px) {
    .ATProduct {
        margin: 0px;
        padding: 10px;
        border: 1px solid #fff;
        font-weight: bolder;
        max-height: 280px;
    }
}
@media (min-width: 992px) {
    .ATProduct {
        margin: 10px;
        padding: 10px;
        border: 1px solid #fff;
        font-weight: bolder;
    }
}

.ATProduct:hover .btn-slide {
    opacity: 1;
    transition: opacity 0.5s;
}

.btn-slide {
    opacity: 0;
}

.CustImg {
    float: left;
    max-width: 150px;
    margin-right: 20px;
    box-shadow: 4px 4px 4px 0px rgba(117, 107, 107, 0.2);
}

.ATCust {
    padding: 15px;
    border: 1px solid rgba(102, 74, 74, 0.3);
    display: flow-root;
}

.owl-carousel {
    margin-top: 20px;
    margin-bottom: 20px;
}

.ATNoiBat {
    width: 100%;
    height: auto;
}

.col-NB {
    overflow: hidden;
}

.img-hover {
    opacity: 0;
    position: absolute;
    bottom: 0;
    padding: 20px;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
    color: #fff;
    height: 100%;
    justify-content: center;
}

.ATItemNB:hover .img-hover {
    opacity: 1;
    transition: opacity 0.5s;
}

.social {
    margin-right: 10px;
}

.HInfo {
    position: sticky;
    top: 160px;
}

input[name='search'] {
    background-image: url(../images/symbol_03.png);
    background-position: right;
    background-repeat: no-repeat;
}

a {
    color: #333333;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #333;
    text-decoration: none;
}

.badge {
    background-color: #cb1111;
}

a {
    cursor: pointer;
}

.HeadingWithIcon {
    margin-top: 20px;
    margin-bottom: 0px;
}

.HeadingWithIcon:before {
    content: url('../images/symbol_10_l.png');
}

.HeadingWithIcon:after {
    content: url('../images/symbol_10_r.png');
}

.carousel-indicators .active {
    background-color: #50504e;
}

.carousel-indicators li {
    border: 1px solid #4e4e4d;
}

#footerMenu li a {
    text-transform: capitalize;
}

#Callicon {
    font-size: 40px;
    border: 2px solid #727272;
    padding: 16px 16px;
    border-radius: 100px;
    position: fixed;
    bottom: 25px;
    left: 25px;
    color: #727272;
    opacity: 0.5;
    -webkit-transition: border 1s, color 1s;
    -moz-transition: border 1s, color 1s;
    transition: border 1s, color 1s;
}

#Callicon:hover {
    background: rgba(255, 255, 255, 0.05);
    -webkit-transform: scale(0.93);
    -moz-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
    opacity: 1;
    -webkit-transition: border 1s, color 1s;
    -moz-transition: border 1s, color 1s;
    transition: opacity 1s, border 1s, color 1s;
}

#Callicon:hover {
    cursor: pointer !important;
}

#Callicon:after {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    top: 0;
    left: 0;
}

#Callicon:after {
    -webkit-animation: sonarEffect 1.5s ease-out 75ms;
    -moz-animation: sonarEffect 1.5s ease-out 75ms;
    -o-animation: sonarEffect 1.5s ease-out 75ms;
    animation: sonarEffect 1.5s ease-out 75ms;
    animation-iteration-count: infinite;
}

@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
        -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0), 0 0 10px 10px rgba(255, 255, 255, 0), 0 0 0 10px rgba(255, 255, 255, 0);
    }
    40% {
        opacity: 0.5;
        -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #727272, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #727272, 0 0 0 10px rgba(255, 255, 255, 0.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}

@-moz-keyframes sonarEffect {
    0% {
        opacity: 0.3;
        -moz-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0), 0 0 10px 10px rgba(53, 186, 242, 0), 0 0 0 10px rgba(53, 186, 242, 0);
    }
    40% {
        opacity: 0.5;
        -moz-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #727272, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        -moz-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #727272, 0 0 0 10px rgba(255, 255, 255, 0.5);
        -moz-transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes sonarEffect {
    0% {
        opacity: 0.3;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0), 0 0 10px 10px rgba(255, 255, 255, 0), 0 0 0 10px rgba(53, 186, 242, 0);
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #727272, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #727272, 0 0 0 10px rgba(255, 255, 255, 0.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

.padding10 {
    padding: 10px;
}

.tmargin5 {
    margin-top: 5px;
}
.tmargin10 {
    margin-top: 10px;
}
.tmargin20 {
    margin-top: 20px;
}

.zbpadding {
    padding-bottom: 0px !important;
}

.lpadding40 {
    padding-left: 40px;
}

#ToTop {
    position: fixed;
    right: 0px;
    margin-right: 20px;
    font-size: 50px;
    bottom: 10px;
    border: 1px solid black;
    padding: 1px 10px;
    border-radius: 10px;
    opacity: 0.3;
    cursor: pointer;
    transition: margin-bottom 0.5s, opacity 0.5s, border-radius 0.5s;
}

#ToTop:hover {
    opacity: 1;
    margin-bottom: 5px;
    border-radius: 7px;
    transition: margin-bottom 0.5s, opacity 0.5s, border-radius 0.5s;
}

.smallfont {
    font-size: small;
}

#footerMenu li {
    background-image: url('../images/border-fmenu.png');
    background-position: right;
    background-repeat: no-repeat;
}

#footerMenu li:hover {
    background-image: url('../images/border-fmenu.png');
    background-position: right;
    background-repeat: no-repeat;
}

#footerMenu li:last-child {
    background: none;
}

#topMenu li a:hover,
.nav-main a:focus {
    background-image: url(../images/border-tmenu.png);
    background-color: #e4e4e4;
    background-position: right;
    background-repeat: no-repeat;
}

#topMenu li:last-child a:hover,
.nav-main a:focus {
    background-color: #e4e4e4;
    background-image: none;
}

#topMenu li {
    background-image: url('../images/border-tmenu.png');
    background-position: right;
    background-repeat: no-repeat;
}

#topMenu li:hover {
    background-image: url('../images/border-tmenu.png');
    background-position: right;
    background-repeat: no-repeat;
}

#topMenu li:last-child {
    background: none;
}

#topMenu li a:hover {
    background-image: url(../images/border-tmenu.png);
    background-color: #e4e4e4;
    background-position: right;
    background-repeat: no-repeat;
}

#topMenu li:last-child a:hover {
    background-color: #e4e4e4;
    background-image: none;
}

.new-event {
    padding-top: 7px;
    margin-right: 20px;
    width: 145px;
}

.season {
    position: absolute;
    bottom: 20px;
    color: #fff;
    left: 30px;
    font-size: 25px;
    font-weight: bold;
}

.Slider4Item .owl-prev {
    position: absolute;
    top: calc(50% - 100px);
    font-size: 30px;
    color: #4e4e4e;
    border: 1px solid #4e4e4e;
    padding: 0px 16px;
    left: -50px;
}

.Slider4Item .owl-next {
    position: absolute;
    top: calc(50% - 100px);
    font-size: 30px;
    color: #4e4e4e;
    border: 1px solid #4e4e4e;
    padding: 0px 16px;
    right: -50px;
}

.ATNB .owl-prev {
    position: absolute;
    top: 125px;
    font-size: 30px;
    color: #4e4e4e;
    border: 1px solid #4e4e4e;
    padding: 0px 16px;
    left: -50px;
}

.ATNB .owl-next {
    position: absolute;
    top: 125px;
    font-size: 30px;
    color: #4e4e4e;
    border: 1px solid #4e4e4e;
    padding: 0px 16px;
    right: -50px;
}

.ATSlider h1 {
    font-size: 60px;
    color: #373737;
    position: fixed;
    top: 160px;
    right: 210px;
    font-family: Lora;
}

.ATSlider small {
    font-size: 25px;
    color: #373737;
    position: fixed;
    top: 240px;
    right: 210px;
    font-weight: 100;
    text-shadow: none;
}
.margin10{
    margin:10px;
}
.zmargin {
    margin: 0px !important;
}

.bmargin20{
    margin-bottom:20px;
}
.bmargin30{
    margin-bottom:30px;
}
.zpadding {
    padding: 0px;
}

.lzpadding{
    padding-left: 0px;
}

.bag {
    margin: 0px -10px;
}

span.badge.text-danger {
    position: absolute;
    top: 20px;
}

.ATBST {
    max-height: 450px;
    overflow: hidden;
}

.ATBST2 {
    padding-bottom: 30px;
    width: 100%;
}

.width100 {
    width: 100%;
    height: auto;
}

.devline {
    margin: 20px 0px;
}

.tmargin20 {
    margin-top: 20px
}

.tmargin40 {
    margin-top: 40px;
}

.HeadKHTT {
    margin: 0px;
}

.videoIcon {
    padding-top: 8px;
    margin-right: 20px;
    width: 30px;
}

.KMLine {
    position: absolute;
    top: calc(20% + 30px);
    left: 120px;
    font-size: 25px;
}

.KM2Line {
    position: absolute;
    top: 20%;
    left: 280px;
    font-size: 25px;
    color: #fff;
}

.YearLine {
    position: absolute;
    top: calc(20% + 60px);
    left: 356px;
    font-size: 28px;
    color: #cb1313;
    font-weight: bolder;
}

.voucher {
    position: absolute;
    top: calc(20% + 30px);
    left: 212px;
    font-size: 25px;
    font-weight: bolder;
    color: #fff;
}

.HeadTTSK {
    margin: 20px 0px 20px;
}

.Slider4Item {
    margin-bottom: 15px;
}

.breadcrumb {
    background: none;
    margin-bottom: 0px;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #5a5a5a;
    content: "\00bb\00a0";
}

.breadcrumb .active {
    font-weight: bolder;
}

:focus {
    outline: none;
}

.row {
    margin-right: 0;
    margin-left: 0;
}


/* 
    Sometimes the sub menus get too large for the page and prevent the menu from scrolling, limiting functionality
    A quick fix is to change .side-menu to 

    -> position:absolute
    
    and uncomment the code below.
    You also need to uncomment 
    
    -> <div class="absolute-wrapper"> </div> in the html file

    you also need to tweek the animation. Just uncomment the code in that section
    --------------------------------------------------------------------------------------------------------------------
    If you want to make it really neat i suggest you look into an alternative like http://areaaperta.com/nicescroll/
    This will allow the menu to say fixed on body scoll and scoll on the side bar if it get to large
*/


/*.absolute-wrapper{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
}*/

.side-menu {
    position: absolute;
    width: 220px;
    height: 100%;
    background-color: #fff;
}

.side-menu .navbar {
    border: none;
}

.side-menu .navbar-header {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}

.side-menu .navbar-nav .active a {
    background-color: transparent;
    margin-right: -1px;
    border-right: 5px solid #e7e7e7;
}

.side-menu .navbar-nav li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #000;
}

.side-menu .navbar-nav li a {
    padding: 10px;
}

.side-menu .navbar-nav li a .glyphicon {
    padding-right: 10px;
}

.side-menu .dropdown {
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}

.side-menu .dropdown .caret {
    float: right;
    margin: 9px 5px 0;
}

.side-menu .dropdown .indicator {
    float: right;
}

.side-menu .dropdown > a {
    border-bottom: 1px solid #e7e7e7;
}

.side-menu .dropdown .panel-body {
    padding: 0;
}

.side-menu .dropdown .panel-body .navbar-nav {
    width: 100%;
}

.side-menu .dropdown .panel-body .navbar-nav li {
    padding-left: 15px;
    border-bottom: 1px solid #e7e7e7;
}

.side-menu .dropdown .panel-body .navbar-nav li:last-child {
    border-bottom: none;
}

.side-menu .dropdown .panel-body .panel > a {
    margin-left: -20px;
    padding-left: 35px;
}

.side-menu .dropdown .panel-body .panel-body {
    margin-left: -15px;
}

.side-menu .dropdown .panel-body .panel-body li {
    padding-left: 30px;
}

.side-menu .dropdown .panel-body .panel-body li:last-child {
    border-bottom: 1px solid #e7e7e7;
}

.side-menu #search-trigger {
    background-color: #f3f3f3;
    border: 0;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 18px;
}

.side-menu .brand-name-wrapper {
    min-height: 50px;
}

.side-menu .brand-name-wrapper .navbar-brand {
    display: block;
}

.side-menu #search {
    position: relative;
    z-index: 1000;
}

.side-menu #search .panel-body {
    padding: 0;
}

.side-menu #search .panel-body .navbar-form {
    padding: 0;
    padding-right: 50px;
    width: 100%;
    margin: 0;
    position: relative;
    border-top: 1px solid #e7e7e7;
}

.side-menu #search .panel-body .navbar-form .form-group {
    width: 100%;
    position: relative;
}

.side-menu #search .panel-body .navbar-form input {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    height: 50px;
}

.side-menu #search .panel-body .navbar-form .btn {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    border-radius: 0;
    background-color: #f3f3f3;
    padding: 15px 18px;
}


/* Main body section */

.side-body {
    margin-left: 250px;
}


/* small screen */

@media (max-width: 768px) {
    .side-menu {
        position: relative;
        width: 100%;
        height: 0;
        border-right: 0;
        border-bottom: 1px solid #e7e7e7;
    }
    .side-menu .brand-name-wrapper .navbar-brand {
        display: inline-block;
    }
    /* Slide in animation */
    @-moz-keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @-webkit-keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @-moz-keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    @-webkit-keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    @keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    /* Slide side menu*/
    /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
    .side-menu-container > .navbar-nav.slide-in {
        -moz-animation: slidein 300ms forwards;
        -o-animation: slidein 300ms forwards;
        -webkit-animation: slidein 300ms forwards;
        animation: slidein 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .side-menu-container > .navbar-nav {
        /* Add position:absolute for scrollable menu -> see top comment */
        position: fixed;
        left: -300px;
        width: 300px;
        top: 43px;
        height: 100%;
        border-right: 1px solid #e7e7e7;
        background-color: #f8f8f8;
        -moz-animation: slideout 300ms forwards;
        -o-animation: slideout 300ms forwards;
        -webkit-animation: slideout 300ms forwards;
        animation: slideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    /* Uncomment for scrollable menu -> see top comment */
    /*.absolute-wrapper{
        width:285px;
        -moz-animation: slideout 300ms forwards;
        -o-animation: slideout 300ms forwards;
        -webkit-animation: slideout 300ms forwards;
        animation: slideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }*/
    @-moz-keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 300px;
        }
    }
    @-webkit-keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 300px;
        }
    }
    @keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 300px;
        }
    }
    @-moz-keyframes bodyslideout {
        0% {
            left: 300px;
        }
        100% {
            left: 0;
        }
    }
    @-webkit-keyframes bodyslideout {
        0% {
            left: 300px;
        }
        100% {
            left: 0;
        }
    }
    @keyframes bodyslideout {
        0% {
            left: 300px;
        }
        100% {
            left: 0;
        }
    }
    /* Slide side body*/
    .side-body {
        margin-left: 5px;
        margin-top: 20px;
        position: relative;
        -moz-animation: bodyslideout 300ms forwards;
        -o-animation: bodyslideout 300ms forwards;
        -webkit-animation: bodyslideout 300ms forwards;
        animation: bodyslideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .body-slide-in {
        -moz-animation: bodyslidein 300ms forwards;
        -o-animation: bodyslidein 300ms forwards;
        -webkit-animation: bodyslidein 300ms forwards;
        animation: bodyslidein 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    /* Hamburger */
    .navbar-toggle {
        border: 0;
        float: left;
        padding: 18px;
        margin: 0;
        border-radius: 0;
        background-color: #f3f3f3;
    }
    /* Search */
    #search .panel-body .navbar-form {
        border-bottom: 0;
    }
    #search .panel-body .navbar-form .form-group {
        margin: 0;
    }
    .navbar-header {
        /* this is probably redundant */
        position: absolute;
        z-index: 3;
        background-color: #f8f8f8;
    }
    /* Dropdown tweek */
    .dropdown .panel-body .navbar-nav {
        margin: 0;
    }
}

.side-menu li a:focus,
.side-menu li a:hover {
    text-decoration: none;
    background-color: #fff;
}

.side-menu li a {
    font-weight: normal;
}

.side-menu li a:hover {
    font-weight: bold;
}

.sliderlv2 li {
    border: none;
}

.side-menu .dropdown .sliderlv2 .panel-body .navbar-nav li {
    padding-left: 30px;
    border-bottom: none;
}

#DanhMuc li {
    border: none;
}

hr.divider {
    border-top: solid #4e4e4e 1px;
    margin: 40px 0px;
}

hr.divider:after {
    content: url('../images/divider.png');
    left: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    padding: 0 20px;
    background: #fff
}

a.KTItem {
    border: 1px solid black;
    margin: 5px;
    display: inline-grid;
    padding: 4px 7px !important;
}

a.KTItem.Active {
    font-weight: bold;
    background: lightgray;
}

a.MSItem {
    padding: 11px !important;
    margin: 4px;
    border: 1px solid #8a8a8a;
    display: inline-grid;
}

.side-body .ATProduct img {
    width: 100%;
    height: auto;
}
@media (min-width: 920px) {
    span.discount {
        position: absolute;
        top: 30px;
        right: 36px;
        background: #000;
        color: #fff;
        padding: 2px 10px;
    }
}
@media (max-width: 920px) {
    span.discount {
        position: absolute;
        top: 11px;
        right: 25px;
        background: #000;
        color: #fff;
        padding: 2px 6px;
        font-size: 12px;
    }
}

@media (min-width: 920px) {
    span.sphot {
        position: absolute;
        top: 30px;
        right: 36px;
        background: #c90000;
        color: #fff;
        padding: 2px 10px;
    }
}
@media (max-width: 920px) {
    span.sphot {
        position: absolute;
        top: 11px;
        right: 25px;
        background: #c90000;
        color: #fff;
        padding: 2px 6px;
        font-size: 12px;
    }
}

h3.CustName {
    margin: 10px;
    text-align: center;
    font-size: 18px;
}

ul.BLMS,
ul.BLKT {
    padding: 0px;
}

.filterTitle {
    font-weight: bolder !important;
    padding-left: 10px;
}

.slide-right {
    position: absolute;
    width: 250px;
    height: 100%;
    right: 0;
    top: 0;
}

.slide-left {
    margin-right: 270px;
}

.bold {
    font-weight: bold;
}

.ShopAdress {
    margin-left: 20px;
}

.ChiNhanh::before {
    content: "● ";
}

p.ChiNhanh.bold {
    margin-left: 8px;
    margin-bottom: 0px;
}

.DCChiNhanh {
    margin-top: 10px;
}

.CTPhoneRight {
    margin-top: 0px;
    margin-left: 28px;
    margin-right: 0px;
}

.SmallATServices {
    margin: 10px 0;
    border: 1px solid #373737;
    padding: 5px 10px;
    text-align: center;
}

.SmallATServices img {
    max-height: 30px;
    width: auto;
    margin-top: 14px;
}

.panel-body,
.panel-heading {
    padding: 15px;
    border: 1px solid #373737;
}
.panel-collapse .panel-body{
    border:none;
} 
.panel-default>.panel-heading {
    color: #fff;
    background-color: #373737;
    border-color: #373737;
}

.panel {
    box-shadow: none;
}

.HuongDanChonSize {
    font-style: italic;
    color: blue;
    font-weight: bolder;
}

.KhuyenMai {
    padding: 10px;
    background-color: #ededed;
    background-image: url(../images/symbol_km.png);
    background-repeat: no-repeat;
    background-size: auto 30px;
    padding-left: 35px;
    background-position: 5px 50%;
    margin-bottom: 20px;
}

.KhuyenMaiText {
    margin-bottom: 0px;
    color: #c90000;
    font-weight: bold;
}

.btn-muangay {
    width: 70%;
    height: 50px;
    font-size: 20px;
}

.tabbable-panel {
    margin-top: 20px;
    padding: 10px;
}


/* Default mode */

.tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
}

.tabbable-line > .nav-tabs > li {
    margin-right: 2px;
}

.tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
    font-weight: bold;
}

.tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
}

.tabbable-line > .nav-tabs > li.open,
.tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
}

.tabbable-line > .nav-tabs > li.open > a,
.tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
}

.tabbable-line > .nav-tabs > li.open > a > i,
.tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
}

.tabbable-line > .nav-tabs > li.open .dropdown-menu,
.tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
}

.tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #f3565d;
    position: relative;
}

.tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
}

.tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
}

.tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #4e4e4e;
    padding: 15px 0;
}

.portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
}


/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
    border-top: 4px solid transparent;
}

.tabbable-line.tabs-below > .nav-tabs > li > a {
    margin-top: 0;
}

.tabbable-line.tabs-below > .nav-tabs > li:hover {
    border-bottom: 0;
    border-top: 4px solid #fbcdcf;
}

.tabbable-line.tabs-below > .nav-tabs > li.active {
    margin-bottom: -2px;
    border-bottom: 0;
    border-top: 4px solid #f3565d;
}

.tabbable-line.tabs-below > .tab-content {
    margin-top: -10px;
    border-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.H2Small {
    font-size: 25px;
}

.btn-dark {
    color: #ffffff;
    background-color: #000000;
    border-color: #130269;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
    color: #ffffff;
    background-color: #3D3D3D;
    border-color: #130269;
}

.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
    background-image: none;
}

.btn-dark.disabled,
.btn-dark[disabled],
fieldset[disabled] .btn-dark,
.btn-dark.disabled:hover,
.btn-dark[disabled]:hover,
fieldset[disabled] .btn-dark:hover,
.btn-dark.disabled:focus,
.btn-dark[disabled]:focus,
fieldset[disabled] .btn-dark:focus,
.btn-dark.disabled:active,
.btn-dark[disabled]:active,
fieldset[disabled] .btn-dark:active,
.btn-dark.disabled.active,
.btn-dark[disabled].active,
fieldset[disabled] .btn-dark.active {
    background-color: #000000;
    border-color: #130269;
}

.btn-dark .badge {
    color: #000000;
    background-color: #ffffff;
}

.MarginSP {
    margin-right: 0;
}

@media (min-width: 920px) {
    .MarginSP {
        margin-right: 270px;
    }
}

.giohangtitle {
    background-image: url(../images/symbol_18.png);
    background-repeat: no-repeat;
    padding: 10px 0px 0px 30px;
    background-position: left;
}

.deleteicon {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 40%
}
.hot-news{
    display: inline-block;
    padding: 0px 34px;
    background-color: black;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 28px;
}
.news-info .title{
    font-weight: bold;
    margin-top: 20px;
}
.news-info .description{
    text-align: justify;
}
.news-events .posts{
    margin-top: 65px;
}
.posts .post{
    position: relative;
    margin-bottom: 50px;
}
.posts .post .post-info{
    position: absolute;
    top:0;
    left: 180px;
}
.posts .post .post-info .title{
    margin-top: 10px;
    font-weight: bold;
}
.posts .post .post-info .description, .event .description{
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
}
.video h3{
    display: inline-block;
}
.video .first-video{
    margin:0px 0 24px 0;
}
.video .info{
    margin-bottom: 25px;
}
.video .info .description{
    font-size: 16px;
    line-height: 22px;
}
.video .date,.video .comment{
    display: inline-block;
    margin-left: 20px;
}
.title{
    padding: 0px;
}

.title-underline{
    width: 184px;
    height: 3px;
    background-color: #f3565d;
}
.title h4{
    margin-left: 15px;
}
.title hr, .link hr{
    margin-top: 0;
    border-top: 1px solid #000;
}
.event .title{
    margin-top: 20px;
}
.fb-embed{
    margin-top: 40px;
}
.news-details h2{
    font-size: 28px;
}
.date-time-info .date,.date-time-info .time{
    display: inline-block;
    margin-right: 25px;
    color: #4e4e4e;
}
.news-details .tag img{
    margin-right: 20px;
}
.other-news .title{
    padding:0;
    margin-top: 24px;
}
.other-news .nav{
    margin-left: 30px;
}
.other-news .nav a{
    font-size: 18px;
}
.other-news .nav a:hover{
    background-color: transparent;
}
.hot-news h3{
    margin: 15px;
}
.deleteIcon{
    width: 30px;
    height: auto;
}
.ATXuHuong{
    border: 1px solid black;
    padding:20px;
}
.text-up{
    text-transform: uppercase;
}
.LBShowUp img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.ATStoreText{
    padding: 60px 0px;
}
.ATStoreText h2{
    color:#fff;
}
.ATTTShop{
    background-color:#000;
    color:#fff;
    padding:15px;
}
#PNoiBat .panel-body {
    padding: 0px;
}
#PNoiBat .panel-body img{
    width:100%;
    height:auto;
}

#PNoiBat .panel-body .ATProduct {
    margin: 10px;
    border: 1px solid #fff;
    font-weight: bolder;
    padding:0px;
}
.text-italic{
    font-style: italic;
}
.HinhAnhCH img{
    width:100%;
    height: auto;
    margin-bottom:30px;
}
/*Mega menu*/
.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px 0px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    background: rgba(255,255,255,0.6);
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px 20px 5px;
}
.mega-dropdown-menu > li > ul > li > a:hover > img{
    opacity: 1;
}
.mega-dropdown-menu > li > ul > li > a > img{
    opacity: 0.8;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #000;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}
.dropdown p{
    margin:0px;
}
.MegaMenu{
    width: 100%;
}
.MegaMenu li p{
    text-transform: uppercase;
    font-weight: bold;
    font-size:11px;
}
@media (min-width:992px) {
    .MegaMenu li.dropdown {
        background-image: url('../images/border-tmenu.png');
        background-position: right;
        background-repeat: no-repeat;
        width:12%;
    }
}
@media (max-width:992px) {
    .MegaMenu li.dropdown {
        background-image: url(../images/border-tmenu.png) !important;
        background-position: right !important;
        background-repeat: no-repeat !important;
        width: 25%;
        float: left;
    }
}
.MegaMenu li.dropdown:hover {
    background-image: url('../images/border-tmenu.png');
    background-position: right;
    background-repeat: no-repeat;
}

.MegaMenu li.dropdown:last-child {
    background: none;
}
.nav-background{
    background-color: #f8f8f8;
}
.navbar-default{
    margin-bottom:0px;
    border:none;
}
.licd{
    border:none !important; 
    padding:30px 0px;
}
.border-none{
    border:none !important;
}
@media (max-width:992px) {
    .InfoLine{
        font-size:25px; 
        margin-right: 10px;
        text-align: right;
    }
}
@media (min-width:992px) {
    .InfoLine{
        font-size:25px; 
        margin-right: 60%;
        text-align: right;
    }
}
.text-white{
    color:#fff;
}
.InfoLineBG1 {
    background-image: url(../images/img_06.gif);
    background-position-y: center;
    background-repeat: no-repeat;
}
.InfoLineBG2 {
    background-image: url(../images/img_07.gif);
    background-position-y: center;
    background-repeat: no-repeat;
}
.row .like-table-row {
    display: table-row;
}
.row.like-table.row > div {
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #000;
    float:none;
}
p.bold.headCatelog {
    border-bottom: 1px solid black;
    padding: 10px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #727272;
    border-color: #383838;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 11px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #5a5a5a;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.modal.left .modal-dialog,
    .modal.right .modal-dialog {
        position: fixed;
        margin: auto;
        width: 320px;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
            -ms-transform: translate3d(0%, 0, 0);
             -o-transform: translate3d(0%, 0, 0);
                transform: translate3d(0%, 0, 0);
    }

    .modal.left .modal-content,
    .modal.right .modal-content {
        height: 100%;
        overflow-y: auto;
    }
    
    .modal.left .modal-body,
    .modal.right .modal-body {
        padding: 15px 15px 80px;
    }

/*Left*/
    .modal.left.fade .modal-dialog{
        left: -320px;
        -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
           -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
             -o-transition: opacity 0.3s linear, left 0.3s ease-out;
                transition: opacity 0.3s linear, left 0.3s ease-out;
    }
    
    .modal.left.fade.in .modal-dialog{
        left: 0;
    }